*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Roboto', sans-serif;
}

#root{
    color: rgb(249, 172, 78);
}
.hed{
    position: sticky;
    z-index: 8;
    width: 100%;
    height: 12vh;
    background-image: none;
    top: 0vh;
    background-color: #1a0a01;
}
header{
    width: 100%;
    height: 105vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/carousel-2.jpg);
    position: relative;
}
header .list{
    display: flex;
    top: 5vh;
    position: absolute;
}
header .list li{
    padding-left: 5vh;
    color: white;
    display: inline-flex;
    left: 120vh;
    position: relative;
    right: 10vh;
    justify-content: center;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
header .list li:hover{
    color:rgb(249, 172, 78);
}
header .list li::after{
    content: "";
    position: absolute;
    background-color:rgb(247, 147, 25);
    height: 3px;
    width: 0vh;
    left: 25px;
    right: 0;
    bottom: -10px;
    transition: 0.8s;
}
header .list li:hover:after{
    width: 70%;
}

#minu{
    display: block;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#minu {
    display: block;
    position: relative;
    font-size: 15px;
    color: white;
    transform-origin: 0 0;
    margin-bottom: 5px;
}
#minu:hover{
    color:rgb(249, 172, 78) ;
}
#minu.is-active {
    color:rgb(249, 172, 78) ;
}
.head{
    z-index: 100;
}
.head ul{
    display: none;
    position: fixed;
    width: 10%;
    height: 25vh;
    left: 150vh;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    top: 14vh;
    background-color: rgb(247, 147, 25) ;
}
 .head ul.is-active{
    display: block;
    top: 9vh;
    z-index: 10;
 }
.head ul li{
    display: block;
    text-align: center;
    margin: 20px;
    height: 10px;
}

header ul>li:nth-child(5):hover::before{
    display: block;
    position:relative;
}
#action li:hover{
    color: black;
}
.top img{
    position: absolute;
    width: 40vh;
    left: 10vh;
    top: 2vh;
   
}
header h3{
    color:rgb(249, 172, 78) ;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 30px;
    top: 25vh;
}
.center{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25vh;
    font-size: 20vh;
    opacity: 0.9;
    color: white;
}
.since{
    position: relative;
    display: flex;
    top: 25vh;
    justify-content: center;
    font-weight: bold;
    font-size: 5vh;
    color: white;
}
.Arch1{
    color: white;
    font-size: 30px;
    opacity: 0.5;
    padding-left: 10vh;
}
.Arch2{
    position: relative;
    left: -10vh;
    transform: rotate(176deg);
    bottom: 3vh;
    font-size: 30px;
}
.sec{
    position: relative;
    width: 100%;
    height: 200vh;
    background-color: rgb(255 251 242);
}
.imgtop{
    background-image: url(/img/overlay-bottom.png);
    position: relative;
    bottom: 2vh;
    width: 100%;
}
.cop{
    width: 78vh;
    position: relative;
    left: 68vh;
    top: 16vh;
}
.line{
    width: 2px;
    height: 20vh;
    background-color: rgb(247, 184, 25);
    margin: auto;
}
.text{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    color: rgb(247, 184, 25);
    font-size: 22px;
    font-weight: bold;
}
.text2{
    color:rgb(95, 43, 5);
    top: 20px;
    font-size: 60px;
}
.first{
    position: absolute;
    left: 135vh;
    color: rgb(95, 43, 5);
    bottom: 135vh;
    font-size: 40px;
}
.four{
    position: absolute;
    left: 135vh;
    color: rgb(95, 43, 5);
    bottom: 85vh;
    width: 60vh;
    line-height: 35px;
    opacity: 0.5;
}
.three{
    position: absolute;
    left: 135vh;
    bottom: 75vh;
    color: rgb(46, 19, 0);
}
.three11{
    bottom: 66vh;
}
.three22{
    bottom: 57vh;
}
.three span{
    margin-right: 10px;
    color:rgb(247, 147, 25);
}
.btn{
    width: 25vh;
    height: 10vh;
    background-color: transparent;
    position: absolute;
    border: rgba(247, 147, 25, 0.738) solid 2px;
    font-size: 20px;
    color: black;
    left: 135vh;
    bottom: 42vh;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    border: rgba(247, 147, 25, 0.738) solid 2px;
    background-color: transparent;
}
.btn::after{
    content: "";
    position: absolute;
    height: 10vh;
    background-color:rgb(247, 147, 25);
    width: 0vh;
    border: none;
    left: -1px;
    right: 0;
    bottom: -2.5px;
    transition: 0.9s;
}
.btn:hover::after{
    width: 101%;
    border: none;
}
.btn span:hover{
    position: absolute;
    z-index: 100;
    border: none;
    width: 18vh;
    bottom: 17px;
    left: 19px
}
.first2{
    position: absolute;
    left: 15vh;
    color: rgb(95, 43, 5);
    bottom: 130vh;
    font-size: 40px;
}
.three2{
    position: absolute;
    bottom: 110vh;
    width: 65vh;
    left: 15vh;
    line-height: 30px;
    font-size: 20px;
    opacity: 0.7;
}
.four2{
    position: absolute;
    bottom: 60vh;
    line-height: 40px;
    left: 15vh;
    width: 65vh;
    opacity: 0.5;
    color: rgb(95, 43, 5);
}
.btn2{
    color:rgb(247, 147, 25);
    left: 15vh;
    bottom: 42vh;
    border:rgb(95, 43, 5) solid 2px;
}
.btn2::after{
    background-color: rgb(95, 43, 5);
}
.btn2:hover{
    border: rgb(95, 43, 5) solid 2px;
}
.btn2 span:hover{
    bottom: 17px;
}
.line2{
    bottom: -30vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}
.line2 P{
    color: rgb(249, 172, 78);
    position: absolute;
    top: 24vh;
    width: 30vh;
    font-weight: bold;
    left: -10vh;
    font-size: 18px;
}
.fresh{
    width: 70vh;
    position: absolute;
    top: 30vh;
    font-size: 40px;
    left: -29vh;
    color: #2e1300;
    font-weight: bolder;
}
.sec2{
    height: 110vh;
    width: 100%;
    background-color: rgb(255 251 242);
    position: relative;
}
.boos{
    width: 90%;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    padding-left: 10vh;
}

.part1 img{
    width: 40vh;
    padding-top: 10vh;
}
.part1 h3{
    position: absolute;
    bottom: 92vh;
    left: 75vh;
    color: #2e1300;
}
.part1 h3::before{
    content: "";
    width: 7vh;
    height: 7vh;
    border-radius: 10vh;
    right: 32vh;
    bottom: -2vh;
    background-image: url(/img/icons8-deliver-food-30.png);
    background-size:5vh;
    background-repeat: no-repeat;
    background-image: 10px;
    background-position: center;
    background-color: peru;
    position: absolute;
    z-index: 7;
}
.part1 h5{
    width: 45vh;
    position: absolute;
    bottom: 65vh;
    color: rgb(98, 60, 11);
    opacity: 0.4;
    line-height: 28px;
    left: 66vh;
}
.part2 img{
    width: 40vh;
    padding-top: 10vh;
}
.part2 h3{
    position: absolute;
    bottom: 92vh;
    left: 165vh;
    color: #2e1300;
}
.part2 h3::before{
    content: "";
    width: 7vh;
    height: 7vh;
    border-radius: 10vh;
    right: 32vh;
    bottom: -2vh;
    background-image: url(/img/icons8-coffee-24.png);
    background-size:5vh;
    background-repeat: no-repeat;
    background-image: 10px;
    background-position: center;
    background-color: peru;
    position: absolute;
    z-index: 7;
}
.part2 h5{
    width: 45vh;
    position: absolute;
    bottom: 65vh;
    color: rgb(98, 60, 11);
    opacity: 0.4;
    line-height: 28px;
    left: 156vh;
}
.part3 img{
    width: 40vh;
    padding-top: 10vh;
}
.part3 h3{
    position: absolute;
    bottom: 40vh;
    left: 165vh;
    color: #2e1300;
}
.part3 h3::before{
    content: "";
    width: 7vh;
    height: 7vh;
    border-radius: 10vh;
    right: 32vh;
    bottom: -2vh;
    background-image: url(/img/icons8-calendar-50.png);
    background-size:5vh;
    background-repeat: no-repeat;
    background-image: 10px;
    background-position: center;
    background-color: peru;
    position: absolute;
    z-index: 7;
}
.part3 h5{
    width: 45vh;
    position: absolute;
    bottom: 12vh;
    color: rgb(98, 60, 11);
    opacity: 0.4;
    line-height: 28px;
    left: 156vh;
}
.part4 img{
    width: 40vh;
    padding-top: 10vh;
}
.part4 h3{
    position: absolute;
    bottom: 40vh;
    left: 75vh;
    color: #2e1300;
}
.part4 h3::before{
    content: "";
    width: 7vh;
    height: 7vh;
    border-radius: 10vh;
    right: 29vh;
    bottom: -2vh;
    background-image: url(/img/icons8-medal-first-place-50.png);
    background-size:5vh;
    background-repeat: no-repeat;
    background-image: 10px;
    background-position: center;
    background-color: peru;
    position: absolute;
    z-index: 7;
}
.part4 h5{
    width: 45vh;
    position: absolute;
    bottom: 12vh;
    color: rgb(98, 60, 11);
    opacity: 0.4;
    line-height: 28px;
    left: 66vh;
}
.sec3{
    width: 100%;
    height: 60vh;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.sec3 img{
    background-image: url(/img/overlay-top.png);
    position: relative;
    width: 100%;
    bottom: 5.5vh;
}
.sec3 h1{
    display: flex;
    color: rgb(223, 126, 15);
    justify-content: center;
    font-size: 60px;
    padding-top: 10px;
}
.sec3 h3{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px; 
    color: rgba(255, 255, 255, 0.901);
}
.sec3 h5{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.849);
}
.sig{
    position: absolute;
    left: 75vh;
    top: 38vh;
    width: 50vh;
    background-color: rgb(223, 222, 222);
    height: 15vh;
    font-size: 20px;
    line-height: 13.5vh;
    padding-left: 10px;
}
.sig::before{
    content: "Sign Up";
    display: flex;
    justify-content: center;
    width: 20vh;
    height: 15vh;
    background-color:rgb(245, 172, 83) ;
    position: absolute;
    left: 40vh;
    cursor: pointer;
}
.sig:hover:before{
    background-color:rgb(46, 19, 0);
    color: white;
    transition: 1s;
}
.sec4{
    position: relative;
    width: 100%;
    height: 150vh;
    background-color: rgb(255 251 242);
}
.sec4 img{
    background-image: url(/img/overlay-bottom.png);
    position: absolute;
    top: -1.5vh;
    width: 100%;
    height: 2vh;
}
.line3{
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
}
.text3{
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
}
.text4{
    color: rgb(95, 43, 5);
    top: 20vh;
    font-size: 60px;
}
.cold{
    position: relative;
    top: 24vh;
    margin: auto;
    width: 85%;
    height: 90vh;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.phot1{
    width: 23vh;
    height: 23vh;
    position: absolute;
    border-radius: 30vh;
    left: 10px;
    top: 3vh;
    background-image: url(/img/menu-1.jpg);
    background-position: center;
    background-size: 23vh;
    background-repeat: no-repeat;
}
.phot1::before{
    content: "$5";
    width: 8vh;
    height: 8vh;
    background-color: rgb(254, 160, 45);
    position: absolute;
    left: 15vh;
    bottom: 17vh;
    border-radius: 30vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    line-height: 50px;
    opacity: 1;
}
.dvi{
    position: absolute;
    left: 25vh;
    width: 40vh;
    color: #2e1300;
    font-weight: bold;
    font-size: 30px;
}
.dri{
    position: absolute;
    left: 25vh;
    width: 60vh;
    top: 7vh;
    font-size: 13px;
    line-height: 25px;
    font-weight: 100;
}
.phot2{
    left: 95vh;
}
.phot3{
    top: 33vh;
    background-image: url(/img/menu-2.jpg);
}
.phot4{
    top: 33vh;
    left: 95vh;
    background-image: url(/img/menu-2.jpg);
}
.phot5{
    top: 63vh;
    background-image: url(/img/menu-3.jpg);
}
.phot6{
    top: 63vh;
    left: 95vh;
    background-image: url(/img/menu-3.jpg);
}
.sec5{
    width: 100%;
    height: 120vh;
    background-color: rgb(255 251 242);
    position: relative;
}
.pagelog{
    position: relative;
    top: 10vh;
    width: 80%;
    height: 100vh;
    background-image: url(/img/bghfghfhfhfhg.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lolo{
    width: 100%;
    position: absolute;
    top: -0.5vh;
    height: 3vh;
    z-index: 7;
}
.lolo2{
    top: 97vh;
}
.same{
    width: 50%;
    height: 100vh;
    background-color: #120a04b3;
    position: absolute;
    left: 84vh;
   
}
.same h1{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    font-size: 35px;
    font-weight: 300;
}
.Email{
    width: 70vh;
    position: absolute;
    left: 6vh;
    top: 22vh;
    height: 10vh;
    background-color: transparent;
    border: rgb(165, 95, 3) 2px solid;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 145, 4);
}
.Name{
    top: 36vh;
}
.Last{
    top: 50vh;
}
.password{
    top:65vh;
}
.bot{
    position: absolute;
    top: 80vh;
    background-color: rgb(221, 145, 4);
    color: black;
    border: none;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
}
.bot:hover{
    background-color: rgb(121, 50, 0);
    color: white;
    transition: 1s;
}
.null{
    top: 10vh;
    left: 5vh;
    color: rgb(223, 126, 15);
    position: absolute;
    font-size: 70px;
    padding-top: 10px;
}
.iens{
    padding-top: 10px;
    font-size: 30px; 
    color: rgb(255, 255, 255);
    font-weight: 200;
    position: absolute;
    left: 5vh;
    top: 30vh;
}
.dvie{
    font-size: 20px;
    top: 40vh;
    width: 80vh;
    opacity: 0.8;
}
.three111{
    color: rgba(255, 255, 255, 0.862);
    position: absolute;
    top: 67vh;
    left: 5vh;
    font-weight: bold;
}
.three99{
    top:75vh;
}
.three222{
    top: 83vh;
}
.sec6{
    width: 100%;
    height: 85vh;
    background-color: rgb(255 251 242);
    position: relative;
}
.endtext{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 10px;
    font-weight: bolder;
}
.coment{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    width: 90%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: auto;
    height: 45vh;
    top: 5vh;
    position: relative;
}
.com1 h2{
    position: absolute;
    left: 20vh;
    top: 1vh;
    font-size: 30px;
    color: #2e1300;
}
.com1 h3{
    position: absolute;
    left: 20vh;
    top: 8vh;
    font-weight: 100;
}
.com1 h4{
    font-weight: 100;
    position: absolute;
    top: 20vh;
    width: 55vh;
}
.com2 h2{
    left: 83vh;
}
.com2 h3{
    left: 83vh;
}
.com2 h4{
    left: 64vh;
}
.com3 h2{
    left: 147vh;
}
.com3 h3{
    left:147vh;
}
.com3 h4{
    left: 127vh;
}
.pol{
    position: absolute;
    top: 40vh;
    width: 6vh;
    height: 3vh;
    left: 85vh;
    border-radius: 10vh;
    background-color:#4c2103;
}
.pol::before{
    content: "";
    width: 3vh;
    position: absolute;
    left: 7vh;
    height: 3vh;
    border-radius: 10vh;
    background-color: rgb(223, 126, 15);
}
.pol::after{
    content: "";
    width: 3vh;
    position: absolute;
    left: -4vh;
    height: 3vh;
    border-radius: 10vh;
    background-color: rgb(223, 126, 15);
}
.dede{
    left: 11vh;
    width: 3vh;
    height: 3vh;
    border-radius: 10vh;
    background-color: rgb(223, 126, 15);
    position: absolute;
}
footer{
    width: 100%;
    height: 70vh;
    background-image: url(/img/bghfghfhfhfhg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.eeend{
    background-image: url(/img/overlay-top.png);
    width: 100%;
    height: 2vh;
}
.endfuck{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 45vh;
    position: absolute;
    top: 10vh;
}
.fuck1 h2{
    position: absolute;
    left: 5.5vh;
    color: whitesmoke;
    font-size: 30px;
}
.fuck1 h3{
    position: absolute;
    left: 10vh;
    top: 10vh;
    color: whitesmoke;
    font-size: 19px;
}
.fuck1 h3::before{
    content: "";
    position: absolute;
    left: -5vh;
    background-image: url(/img/icons8-gps-64.png);
    background-position: center;
    background-size: cover;
    width: 5vh;
    top: -1vh;
    background-size: 4vh;
    background-repeat: no-repeat;
    height: 5vh;
}
.fuck1 h4::before{
    content: "";
    position: absolute;
    left: -5vh;
    background-image: url(/img/icons8-letter-67.png);
    background-position: center;
    background-size: cover;
    width: 5vh;
    top: -1vh;
    background-size: 6vh;
    background-repeat: no-repeat;
    height: 5vh;
}
.fuck1 h5::before{
    content: "";
    position: absolute;
    left: -5vh;
    background-image: url(/img/icons8-phone-30.png);
    background-position: center;
    background-size: cover;
    width: 5vh;
    top: -1vh;
    background-size: 4vh;
    background-repeat: no-repeat;
    height: 5vh;
}
.fuck1 h4{
    position: absolute;
    left: 10vh;
    top: 17vh;
    color: whitesmoke;
    font-size: 19px;
}
.fuck1 h5{
    position: absolute;
    left: 10vh;
    top: 25vh;
    color: whitesmoke;
    font-size: 19px;
}
.fuck2 h2{
    left: 60vh;
}
.fuck2 h3{
    width: 40vh;
    font-weight: 100;
    left: 60vh;
    top: 7vh;
}
.fuck2 h3::before{
    display: none;
}
footer ul{
    width: 10vh;
    position: absolute;
    top: 25vh;
    left: 57vh;
    list-style: none;
    display: inline-flex;
    cursor: pointer;
}
footer ul li{
   margin-left: 20px;
   border: 2px solid rgb(255, 255, 255);
   padding: 6px;
   width: 7vh;
   border-radius: 10px;
}
footer ul li img{
    width: 4vh;
}
footer ul li:hover{
    border:2px solid rgb(221, 145, 4) ;
    transition: 0.5s;
}
.fuck3 h2{
    left: 115vh;
}
.fuck3 h3{
    left: 115vh;
}
.fuck3 h3::before{
    display: none;
}
.fuck3 h4{
    left: 115vh;
    top: 23vh;
}
.fuck3 h4::before{
    display: none;
}
.fuck4 h2{
    left: 160vh;
}
.fuck4 h3{
    left: 160vh;
}
.fuck4 h3::before{
    display: none;
}
.sig1{
    height: 10vh;
    width: 30vh;
    left: 160vh;
    top: 26vh;
    padding-right: 11vh;
    line-height: 11px;
    cursor: text;
}
.sig1::before{
    left: 25vh;
    height: 9.4vh;
    width: 15vh;
    line-height: 50px;
    top: 0vh;
}
footer hr{
    border: 0.5px solid white;
    position: absolute;
    top: 57vh;
    width: 100%;
}
.endprojeckt{
    color: whitesmoke;
    position: relative;
    top: 56vh;
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.endprojeckt p{
    position: absolute;
    left: 90vh;
    top: 4vh;
}
.endprojeckt span{
    color: rgb(221, 145, 4);
}
#point{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#point span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: #F4F7FA;
    border: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

}
#point:hover span:nth-child(1){
    transform: translate(0px , -2px) rotate(45deg);
}
#point:hover span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
#point:hover span:nth-child(3){
    transform: translate(-3px , 3px) rotate(-45deg);
}
#point:hover span{
    background-color:rgb(221, 145, 4);
}

/* //////////////////////////////////////////// */
@media screen and (min-width:799px) and (max-width:1006px) {
    .list{
        position: relative;
        left: -38vh;
    }
    .first2{
        font-size: 30px;
        left: 5vh;
        position: absolute
    }
    .three2{
        width: 50vh;
        font-size: 18px;
        left: 5vh;
        position: absolute
    }
    .four2{
        left: 5vh;
        width: 58vh;
        font-size: 15px;
        position: absolute
    }
    .btn2{
       margin-left: -107vh;
    }
    .cop{
        left: 48vh;
        position: absolute;
        top: 70vh;
        width: 70vh;
    }
    #action{
        left: 116vh;
    }
    .first{
        font-size: 30px;
        left: 111vh;
        position: absolute;
    }
    .four{
        font-size: 15px;
        left: 111vh;
        position: absolute;
        width: 50vh;
    }
    .three{
        left: 111vh;
        font-size: 17px;
        position: absolute;
    }
    .btn{
        left:111vh;
     
        
        position: absolute;
    }
    .part1 img{
        height: 45vh;
        width: 30vh;
        position: absolute;
        left: 5vh;
    }
    .part1 h3{
        left: 47vh;
        bottom: 95vh;
    }
    .part1 h5{
        left: 40vh;
    }
    .part2 img{
        height: 45vh;
        width: 30vh;
        position: absolute;
        left: 85vh;
    }
    .part2 h3{
        left: 127vh;
        bottom: 95vh;
    }
    .part2 h5{
        left: 118vh;
    }
    .part3 img{
        height: 45vh;
        width: 30vh;
        position: absolute;
        left: 5vh;
        bottom: 17vh;
    }
    .part3 h3{
        left: 47vh;
        bottom: 47vh;
    }
    .part3 h5{
        left: 40vh;
        bottom: 20vh;
    }
    .part4 img{
        height: 45vh;
        width: 30vh;
        position: absolute;
        left: 85vh;
        bottom: 17vh;
    }
    .part4 h3{
        left: 127vh;
        bottom: 47vh;
    }
    .part4 h5{
        left: 118vh;
        bottom: 17vh;
    }
    .line2{
        top: 120vh;
    }
    .sig{
        left: 52vh;
    }
    .cold{
        left: -10vh;
    }
    .pat2{
        left: -12vh;
        position: absolute;
    }
    .pat4{
        left: -12vh;
        position: absolute;
    }
    .pat6{
        left: -12vh;
        position: absolute;
    }
    .dri{
        width: 50vh;
    }
    .pagelog{
       margin: auto;
    }
    .same{
        left:66vh;
    }
    .Email{
        width: 53vh;
    }
    .dvie{
        width: 50vh;
        font-size: 14px;
    }
    .three111{
        left: 5vh;
    }
    .com1 h4{
        width: 45vh;
    }
    .com2 h2{
        left: 70vh;
    }
    .com2 h3{
        left: 70vh;
    }
    .com2 h4{
        left: 50vh;
    }
    .com3 h2{
        left: 123vh;
    }
    .com3 h3{
        left: 123vh;
    }
    .com3 h4{
        left: 102vh;
    }
   .com3{
    padding-left: 15px;
   }
   .pol{
    margin: auto;
   }
   .fuck4 h2{
    display: none;
   }
   .fuck4 h3{
    display: none;
   }
   .sig1{
    display:block;
    left: 114vh;
    top: 32vh;
   }
   .endprojeckt p{
    left: 67vh;
    padding-top: 10px;
}
.sec3 img{
    bottom: 0vh;
    height: 2vh
}
}
@media screen and (min-width:613px) and (max-width:800px) {
    #point{
        display: block;
        position: absolute;
        right: 3vh;
        top: 4vh;
    }
    .head ul{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0px;
        background-color: rgb(226 150 58);
        margin-top: 10px;
    }
    header .list li{
        display: none;
    }
    #minu{
        display: none;
    }
    .Arch2{
        left: -1vh;
        position: relative;
        top: -4vh;
    }
    .three2{
        bottom: 220vh;
        width: 120vh;
    }
    .four2{
        width: 120vh;
        bottom: 190vh;
    }
    #action{
        left: 0vh;
    }
    .btn2{
        bottom: 178vh;
    }
    .sec{
        height: 290vh;
    }
    .first2{
        bottom: 232vh;
    }
    .cop{
        width: 70vh;
        left: 31vh;
        top: 95vh;
    }
    .line2{
        top: 210vh;
    }
    .first{
        top: 170vh;
        left: 5vh;
    }
    .three{
        bottom: 83vh;
        width: 120vh;
        left: 5vh;
    }
    .three11{
        bottom: 73vh;
    }
    .three22{
        bottom: 63vh;
    }
    .four{
        width: 120vh;
        bottom: 90vh;
        left: 5vh;
    }
    .btn{
        left: 5vh;
    }
    .btn2{
        margin-bottom: 0vh;
        margin-left: 0vh
    }
    .boos{
        left: 0vh;
        position: absolute;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 124vh;
        height: 180vh;
    }
    .sec2{
        height: 190vh;
    }
    .part1 h3{
        bottom: 164vh;
        left: 50vh;
    }
    .part1 h5{
        width: 60vh;
        bottom: 140vh;
    }
    .part2 img{
        left: 5vh;
    }
    .part2 h3{
        bottom: 117vh;
        left: 51vh
       
    }
    .part2 h5{
        left: 40vh;
        width: 60vh;
        bottom: 94vh;
    }
    .part3 img{
        bottom: 0vh;
    }
    .part3 h3{
        bottom: 72vh;
        left: 51vh
    }
    .part3 h5{
        left: 40vh;
        width: 60vh;
        bottom: 48vh;
    }
    .part4 img{
        left: 5vh;
        bottom: 45vh;
    }
    .part4 h3{
        bottom: 27vh;
        left: 51vh
    }
    .part4 h5{
        left: 40vh;
        width: 60vh;
        bottom: 3vh;
    }
    .sig{
        left: 36vh;
    }
    .sec4{
        height: 250vh;
    }
    .cold{
        height: 188vh;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        width: 95vh;
        left: -5vh
    }
    .dri{
        width: 80vh;
    }
    .pat2{
        left: -93vh;
        bottom: 97vh;
    }
    .pat4{
        left: -93vh;
        bottom: 97vh;
    }
    .pat6{
        left: -93vh;
        bottom: 97vh;
    }
    .pagelog{
        left: 1vh;
        width: 122vh;
    }
    .same{
        left: 61vh;
    }
    .com3{
        display: none;
    }
    .com2{
        position: absolute;
        left: 60vh;
    }
    .com2 h2{
        left: 20vh;
    }
    .com2 h3{
        left: 20vh;
    }
    .com2 h4{
        left: 0vh;
        width: 55vh;
    }
    .com1 h4{
        width: 55vh;
    }
    .fuck3 h2{
        left: 95vh;
    }
    .fuck3 h3{
        left: 95vh;
    }
    .fuck3 h4{
        left: 95vh;
    }
    .fuck2 h2{
        left: 55vh;
    }
    .fuck2 h3{
        left: 55vh;
    }
    .fuck2 h4{
        left: 55vh;
    }
    footer ul li{
        position: relative;
        margin-right: -5px;
        left: -5vh
    }
    .sig1{
        position: relative;
        top: 35vh;
        left: -45vh;
        height: 60.5px;
    }
    .endprojeckt p{
        left: 50vh;
        padding-top: 4px;
    }
    .pol{
        left: -10vh;
    }
}
@media screen and (min-width:372px) and (max-width:614px) {
    .top img{
        width: 29vh;
        left: 1vh;
    }
    #point{
        display: block;
        left: 51vh;
        top: 4vh;
        position: absolute;
    }
    .head ul{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0px;
        background-color: rgb(226 150 58);
        margin-top: 10px;
    }
    header .list li{
        display: none;
    }
    #minu{
        display: none;
    }
    header h3{
        font-size: 20px;
    }
    .center{
        top: 30vh;
        font-size: 80px;
    }
    .since{
        top: 30vh;
    }
    .Arch1{
       display: none;
    }
    .text2{
        font-size: 30px;
    }
    .first2{
        bottom: 235vh;
        left:5vh ;
        font-size: 35px;
    }
    .three2{
        left: 5vh;
        bottom: 220vh;
        font-size: 15px;
        width: 50vh;
    }
    .four2{
        left: 5vh;
        bottom: 183vh;
        line-height: 1.5;
        font-size: 15px;
        width: 50vh;
    }
    .sec{
        height: 280vh;
    }
    .btn2{
        margin-bottom: 140vh;
    }
    .cop{
        left: 3vh;
        width: 55vh;
        top: 82vh;
    }

    .first{
        bottom: 105vh;
        left:5vh ;
        font-size: 35px;
    }
    .three{
        left: 5vh;
        bottom: 55vh;
        font-size: 15px;
        width: 50vh;
    }
    .three11{
        bottom: 48vh;
    }
    .three22{
        bottom: 40vh;
    }
    .four{
        left: 5vh;
        bottom: 60vh;
        line-height: 1.9;
        font-size: 15px;
        width: 50vh;
    }
    .fresh{
    font-size: 25px;
    top: 22vh;
    left: -20vh;
    z-index: 1;
    width: 42vh;
   }
    .line2{
        top: 170vh;
        height: 80px;
    }
    .btn{
        left: 5vh;
        bottom: 28vh;
    }
    .line2 p{
        top: 16vh;
    }
    .sec2{
        height: 175vh;
    }
    .boos{
        height: 141vh;
        left: -4vh;
        width: 60vh;
        position: relative;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .part1 img{
        position: absolute;
        width: 20vh;
        left:5vh ;
    }
    .part1 h3{
        top: 14vh;
        left: 36vh;
        font-size: 15px;
    }
    .part1 h3::before{
        bottom: 30vh;
        left: -9vh;
    }
    .part1 h5{
        left: 5vh;
        bottom: 93vh;
        width: 57vh
    }
    .part2 img{
        width: 20vh;
        position: absolute;
        left: 5vh;
        top: 40vh;
    }
    .part2 h3{
        top: 53vh;
        left: 36vh;
        font-size: 15px;
    }
    .part2 h3::before{
        bottom: -5vh;
        left: -9vh;
    }
    .part2 h5{
        left: 5vh;
        bottom: 52vh;
        width: 57vh;
    }
    .part3 img{
        width: 20vh;
        position: absolute;
        left: 5vh;
        top: 80vh;
    }
    .part3 h3{
        top: 93vh;
        left: 36vh;
        font-size: 15px;
    }
    .part3 h3::before{
        bottom: 3vh;
        left: -9vh;
    }
    .part3 h5{
        left: 5vh;
        bottom: 12vh;
        width: 57vh;
    }
    .part4 img{
        width: 20vh;
        position: absolute;
        left: 5vh;
        top: 120vh;
    }
    .part4 h3{
        top: 133vh;
        left: 36vh;
        font-size: 15px;
    }
    .part4 h3::before{
        bottom: -5vh;
        left: -9vh;
    }
    .part4 h5{
        left: 5vh;
        bottom: -28vh;
        width: 57vh;
    }
    .sig{
        left: 8vh;
        width: 25vh;
        height: 12vh;
        line-height: 12vh;
    }
    .sig::before{
        height: 12vh;
        left: 25vh;
        line-height: 12vh;
    }
    .text4{
        font-size: 30px;
    }
    .cold{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        height: 166vh;
    }
    .sec4{
        height: 230vh;
    }
    .phot1{
        left: -3vh;
        height: 18vh;
        width: 18vh;
    }
    .phot1::before{
        left: 12vh;
        width: 7vh;
        height: 7vh;
        top: -3vh;
    }
    .dvi{
        left: 22vh;
        top: -3vh;
        font-size: 25px;
        width: 35vh;
    }
    .sec3 img{
        height: 7vh;
    }
    .dri{
        top: 3vh;
        left: 22vh;
        width: 36vh;
    }
    .pat2{
        position: absolute;
        top: 89vh;
    }
    .fuck4{
        display: none;
    }
    .pat4{
        position: absolute;
        top: 90vh;
    }
    .pat6{
        position: absolute;
        top: 90vh;
    }
    .pagelog{
        width: 52vh;
    }
    .null{
        position: absolute;
        top: 1vh;
    }
    .iens{
        position: absolute;
        top: 15vh;
        width: 30vh;
    }
    .dvie{
        line-height: 0.9;
        top: 28vh;
        width: 45vh;
        font-size: 15px;
    }
    .sec5{
        height: 190vh;
    }
    .three111{
        font-size: 15px;
        left: 5vh;
        margin-top: -123px;
    }
    .same{
    position: absolute;
    top: 77vh;
    width: 52vh;
    left: 0vh;
    background: #241409;
    }
    .same h1{
        position:absolute;
        top: -5vh;
        left: 6vh;
        font-size: 35px;
    }
    .Email{
        width: 40vh;
    }
    .lolo2{
        top: 174.5vh;
    }
    .sec6{
        height: 145vh;
    }
    .com1 h2{
        font-size: 25px;
        left: 18vh;
    }
    .com1 h3{
        top: 6vh;
        left: 18vh;
    }
    .com1 h4{
        top: 18vh;
    }
    .com2{
        position:absolute;
        top: 32vh;
    }
    .com2 h4{
        left: 0vh;
    }
    .com3{
        position:absolute;
        top: 65vh;
    }
    .com3 h4{
        left: 0vh;
    }
    .coment{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .pol{
        left: 22vh;
        top: 70vh;
    }
    .fuck2{
        display: none;
    }
    .fuck3{
        display: none;
    }
    .sig1{
        left: 6vh;
        line-height: 10px;
        height: 10vh;
        top: 32vh;
        width: 30vh;
    }
    .sig1::before{
        line-height: 50px;
        height: 56px;
        top: 0.5px;
    }
    .endprojeckt p{
        left: 17vh;
        padding-top: 10px;
    }
}
   